
@page "{id:int}"
@model сайт_курсач.Pages.Services.EditModel

@{
    ViewData["Title"] = "Изменить услугу";
}

<div class="form-container">

    <h1 class="page-title mb-4">
        Изменить услугу
    </h1>

    <form method="post">

        <input type="hidden" asp-for="Service.Id" />

        <div class="mb-4">

            <label asp-for="Service.Name"
                   class="form-label">

                Название

            </label>

            <input asp-for="Service.Name"
                   class="form-control custom-input" />

        </div>

        <div class="mb-4">

            <label asp-for="Service.Price"
                   class="form-label">

                Цена

            </label>

            <input asp-for="Service.Price"
                   class="form-control custom-input" />

        </div>

        <button type="submit"
                class="btn custom-save-btn">

            Сохранить

        </button>

        <a asp-page="Index"
           class="btn custom-cancel-btn">

            Назад

        </a>

    </form>

</div>