@page
@model сайт_курсач.Pages.Payments.CreateModel

@{
    ViewData["Title"] = "Добавить платеж";
}

<div class="form-container">

    <h1 class="page-title mb-4">
        Добавить платеж
    </h1>

    <div asp-validation-summary="All"
         class="text-danger mb-3">
    </div>

    <form method="post">

        <div class="mb-3">

            <label asp-for="Payment.AppointmentId"
                   class="form-label">
                ID записи
            </label>

            <input asp-for="Payment.AppointmentId"
                   class="form-control" />

            <span asp-validation-for="Payment.AppointmentId"
                  class="text-danger">
            </span>

        </div>

        <div class="mb-3">

            <label asp-for="Payment.Amount"
                   class="form-label">
                Сумма
            </label>

            <input asp-for="Payment.Amount"
                   class="form-control" />

            <span asp-validation-for="Payment.Amount"
                  class="text-danger">
            </span>

        </div>

        <button type="submit"
                class="btn btn-success">
            Сохранить
        </button>

        <a asp-page="./Index"
           class="btn btn-secondary">
            Назад
        </a>

    </form>

</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}